<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="APPINSIGHTS_INSTRUMENTATIONKEY" value="07369c9f-e0a2-437f-9666-ca52b0413835" />
  </appSettings>
</configuration>